/* 
    General Styles
*/

.size-img img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

body {
    background-color: lightgrey;
}

.box {
    height: 380px;
    background-color: red;
}